.aboutPage{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.aboutPageImage{
  background:linear-gradient(120deg,blue,red);
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.aboutPageImage img{
  width:35rem;
  height: 45rem;
  border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
}

  .aboutPage p{
    color:var(--light-color);
    font-size:1.5rem;
    width:55rem;
    margin:1.5rem 0;
    text-transform:capitalize;

 }

 .aboutPage h1{
    font-size:3rem;
 }

 .aboutPage h1 span{
    color:var(--blue);
 }

 .aboutPage h3 {
    font-size:2rem;
 }


.aboutPageText a{
  font-size:1.8rem;
  background: var(--blue);
  color:#fff;
  border-radius:.5rem;
  padding:.5rem 2.5rem;

}

.aboutPageText a:hover{
    background:rgb(4, 4, 200);
}

  /* responsive */
  @media (max-width: 992px) {
   .aboutPage{
       display:flex;
       flex-direction: column;
   }

   .aboutPageText {
       text-align:center;
   }
   .aboutPageText p{
       width:100%;
       text-align:justify;
 }
}


@media (max-width: 768px) {
  
 }