
.footerContent{
    padding:1rem 9%;
    background-color:#fff;
}

.footerIcons{
    font-size:3rem;
    margin-bottom:1.5rem;
}

.footerLogo{
    font-size:2.5rem;
    font-weight:700;
    color:var(--black);
    margin-bottom:1rem;
}

.footerLogo span{
    color:var(--blue);
}
.footerIcons a{
    color:var(--blue);
    margin-right:1rem;
    padding:.1rem;
    display:inline-flex;
    background:#fff;
    border:.3rem solid var(--blue);
    border-radius:50%;
}

.footerIcons a:hover{
  padding:.3rem;
 
}
